<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>云倾城的个人博客</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:type" content="website">
  <meta property="og:title" content="云倾城的个人博客">
  <meta property="og:url" content="https://crystal-cheng.github.io/index.html">
  <meta property="og:site_name" content="crystal">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="云倾城的个人博客">
  <link rel="alternate" href="/crystal.github.io/atom.xml" title="crystal" type="application/atom+xml">
  <link rel="icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/style.css">
   <!-- 引入element-ui样式 -->
   <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
   <link rel="stylesheet" href="mycss/index.css">
   <link rel="stylesheet" href="mycss/iconfont/iconfont.css">
   <link rel="stylesheet" href="jquery-fullPage/css/index.css">
</head>

<body>
  <div id="container">
      <div id="dowebok">
            <div class="section section1">
                <div class="top_banner" id="elem-ui">
                    <el-menu :default-active="activeIndex" class="el-menu-demo"
                        mode="horizontal"  background-color="#545c64"
                        text-color="#fff" active-text-color="#ffd04b">
                        <el-menu-item index="1"><a>首页</a></el-menu-item>
                        <el-menu-item index="2"><a>博客</a></el-menu-item>
                        <el-menu-item index="3"><a>个人信息</a></el-menu-item>
                    </el-menu>
                    <div class="banner_title">云倾城的个人博客 | crystal.cheng</div>
                </div>
                <div class="left_content">
                    <div class="user_info">
                          <img class="user_avatar" src="123.jpg"></img>
                          <div class="user_name">云倾城<i class="iconfont icon-nv"></i></div>
                          <p class="user_signname">有事做，有人爱，有所期待</p>
                          <el-rate v-model="value"></el-rate>
                    </div>
                    <div class="user_content">
                        <el-input class="search-input"
                            placeholder="输入关键字进行过滤"
                            v-model="filterText">
                        </el-input>
                  
                        <el-tree
                            class="filter-tree"
                            :data="data2"
                            :props="defaultProps"
                            default-expand-all
                            :filter-node-method="filterNode"
                            ref="tree2">
                        </el-tree>
                    </div>
              </div>
              <div class="right-contnet">
                <div class="title"></div>
                <div class="blog_content"></div>
              </div>
          </div>
          <div class="section section2">
             
          </div>
          <div class="section section3">
              
          </div>
          <div class="section section4">
              
          </div>

          <div class="section section5">
              
          </div>
          <div class="section section6">
              
          </div>
          <div class="section section7">
              
          </div>
          <div class="section section8">
              
          </div>
      </div>
 

    </div>

    
    <!-- js加载区 -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://crystal-cheng.github.io/crystal.github.io/fancybox/jquery.fancybox.css">
    <script src="https://crystal-cheng.github.io/crystal.github.io/fancybox/jquery.fancybox.pack.js"></script>
    <script src="https://crystal-cheng.github.io/crystal.github.io/js/script.js"></script>
    <script src="https://crystal-cheng.github.io/crystal.github.io/jquery-fullPage/js/jquery.fullPage.js"></script>
    
</div>
</body>
 <!-- 先引入 Vue -->
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <!-- 引入组件库 -->
 <script src="https://unpkg.com/element-ui/lib/index.js"></script>
 <script>
   $('#dowebok').fullpage({
    navigation: true,
    navigationColor: '#000',
    navigationTooltips: ['首页','项目经验','工作经历','知识分享','待定','暂时不知道','以后再说','未完待续....'],
    slidesNavigation: true,
    loopBottom: true
   });
   new Vue({
      el: '.top_banner',
      data() {
        return {
          activeIndex: '1',
        };
      }
   });
   new Vue({
      el: '.user_info',
      data() {
        return {
          value: 3,
        }
      }
   });
   new Vue({
      el: '.user_content',
      watch: {
        filterText(val) {
          this.$refs.tree2.filter(val);
        }
      },
  
      methods: {
        filterNode(value, data) {
          if (!value) return true;
          return data.label.indexOf(value) !== -1;
        }
      },
  
      data() {
        return {
          filterText: '',
          data2: [{
            id: 1,
            label: 'JavaScript',
            children: [{
              id: 4,
              label: 'JavaScript分享',
            }]
          }, {
            id: 2,
            label: 'CSS',
            children: [{
              id: 5,
              label: 'CSS分享1'
            }, {
              id: 6,
              label: 'CSS分享22222'
            }]
          }, {
            id: 3,
            label: 'HTML',
            children: [{
              id: 7,
              label: 'HTML分享1'
            }, {
              id: 8,
              label: 'HTML分享12322'
            }]
          },
          {
            id: 3,
            label: 'Node',
            children: [{
              id: 7,
              label: 'Node分享1'
            }, {
              id: 8,
              label: 'Node分享12322'
            }]
          }],
          defaultProps: {
            children: 'children',
            label: 'label'
          }
        };
      }
   });
   
 </script>
</html>
