.section1{
    background: url("images/banner1.jpg") center #000;
}
.section2{
    background: url("images/banner2.jpg") center #000;
}
.section3{
    background: url("images/banner3.jpg") center #000;
}
.section4{
    background: url("images/banner4.jpg") center #000;
}