.fp-tableCell {
    vertical-align: top !important;
}
/* 自我介绍 */
.section0{
    background: linear-gradient(to left, #a8edea , #fed6e3);
   
}
.user_content_info {
    width: 65%;
    margin: 0 auto;
    top: 18%;
    position: relative;
}
.user_avatar_info{
    display: block;
    width: 150px;
    height: 150px;
    border: 1px solid #bc8c8c;
    border-radius: 50%;
    margin: 0 auto;
}
.content_info {
    margin-top: 20px;
}
.intro_info {
    display: block;
    font: bold 200% Consolas, Monaco, monospace;
    white-space: nowrap;
    width: 100%; 
    margin: 2em 1em;
    overflow: hidden;
    animation: typing 5s steps(1200, end), blink-caret .1000s step-end infinite alternate;
}
@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }
/* 自我介绍 */
/* 模块一 */
.section1{
	background:-moz-linear-gradient(-45deg,#cebe29 0,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
	background:-webkit-gradient(linear,left top,right bottom,color-stop(0%,#cebe29),color-stop(33%,#9b1f50),color-stop(71%,#2989d8),color-stop(91%,#89b4ff));
	background:-webkit-linear-gradient(-45deg,#cebe29 0,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
	background:-o-linear-gradient(-45deg,#cebe29 0,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
	background:-ms-linear-gradient(-45deg,#cebe29 0,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
	background:linear-gradient(135deg,#cebe29 0,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cebe29',endColorstr='#89b4ff',GradientType=1);

}

/* 左侧部分 */
.content {
    position: relative;
    padding: 50px 20px 20px 20px;
    width: 55%;
    margin: 0 auto;
    /* height: 60%; */
    box-shadow: 1px 2px 3px #ddd;
    opacity: 0.9;
    background: #fff;
    z-index: 99999;
    top:20%;
}
.user_info{
    float: left;
    width: 30%;
    height: 100%;
    text-align: center;
    margin-right: 4px;
}
.user_info p, .user_info a {
    text-align: left;
    width: 95%;
    display: block;
    color: #000;
    float: left;
    margin-left: 10%;
}
.user_info i {
    display: inline-block;
    margin-right: 4px;
    color: #F06292;
}
.user_avatar{
    display: block;
    width: 120px;
    height: 120px;
    /* margin: 0 auto; */
    margin-left: 10%;
    border-radius: 50%;
    box-shadow: 1px 2px 3px #ddd;
}
.user_name{
    height: 25px;
    margin: 0 auto;
    line-height: 25px;
    font-size: 20px;
    color: #8b8282;
    margin-top: 17px;
}
.icon-nv {
    display: inline-block;
    margin-left: 8px;
    color: #ef6651;
}
.user_signname, .user_job, .user_github, .user_email, .user_local {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #100f0f;;
    /* margin: 8px 0 4px 0; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_github {
    text-decoration-line: none;
    cursor: pointer;
}
.icon-shoucang
{
    color: #F06292;
    display: inline-block;
    font-size: 12px;
}
.user_github:hover .github_name {
    color: #F06292;
}
.user_skill {
    margin-left: 50px;
    height: 100%; 
}
.skill_title {
    display: block;
    font-size: 20px !important;
    color: #201e1e !important;
    height: 35px;
}
.skill_container {
    /* width: 300px; */
    font-size: 1.2em;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin:10px auto;
  }
.skill_container .skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 95%; */
    height: 60px;
    padding: 0px 20px;
    transition: all 0.3s;
    color: white;
}

.skill_container .skill.skill_one {
    background-color: #7986CB;
}
.skill_container .skill.skill_two {
    background-color: #FF8A65;
}
.skill_container .skill.skill_three {
    background-color: #F06292;
}
.skill_container .skill.skill_four {
    background-color: #4DB6AC;
}
.skill_container .skill.skill_five {
    background-color: #7986CB;
}
.skill_container .skill .name h4, .skill_container .skill .name h5 {
    font-weight: 300;
  }
.skill_container .skill .name h5 {
    font-size: 0em;
    line-height: 1;
  }
.skill_container .skill p {
    font-size: 0.8em;
    font-weight: 300;
  }
.skill_container .skill:before {
    content: "";
    height: 0px;
    width: 0px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: -50%;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
.skill_container .skill.skill_one:before{
    background-image: url("images/js.jpg");
}
.skill_container .skill.skill_two:before{
    background-image: url("images/html5.jpg");
}
.skill_container .skill.skill_three:before{
    background-image: url("images/css3.jpg");
}
.skill_container .skill.skill_four:before{
    background-image: url("images/node.jpg");
}
.skill_container .skill.skill_five:before{
    background-image: url("images/vue.jpg");
}

.skill_container .skill:hover:before {
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 0%;
    transition: all 0.4s;
  }
.skill_container .skill:hover {
    height: 80px;
    transition: all 0.3s;
}
.skill_container .skill:hover .name h5 {
    font-size: 14px;
    transition: all 0.6s;
  }
.skill_container .iconfont {
    color: #fff;
    font-size: 14px;
}
/* 左侧部分 */


/* 右侧部分 */
/* 模块一 */

/* 模块二 */
.section2{
    background: linear-gradient(to left, #BE93C5 , #7BC6CC);
}

/* 模块二 */

/* 模块三 */
.section3{
    /* background: url("images/banner3.jpg") center #000; */
}
/* 模块三 */

/* 模块四 */
.section4{
    background: url("images/banner4.jpg") center #000;
}
/* 模块四 */

.section5{
    background: url("images/banner5.jpg") center #000;
}
.section6{
    background: url("images/banner6.jpg") center #000;
}
.section7{
    background: url("images/banner7.jpg") center #000;
}
.section8{
    background: url("images/banner8.jpg") center #000;
}
