/* 适配小屏幕 */
@media screen and (max-width: 980px) {
    .content {
        width: 90%;
        padding: 20px 4px 20px 10px;
    }
    .user_avatar{
        width: 60px;
        height: 60px;
    }

    .user_name{
        font-size: 12px;
    }

    .user_signname, .user_job, user_github  {
        font-size: 12px;
        height: 20px;
        height:25px;
        line-height: 25px;
    }

    .skill_title {
        height: 20px;
    }

    .skill_container .skill:hover:before {
        height: 20px;
        width: 35px;
    }

    .skill_container .skill:hover .name h5 {
        font-size: 12px;
    }

    .skill_container .iconfont {
        font-size: 12px;
    }
    .user_info{
        width: 32%;
    }
    .name {
        margin-left: 4px;
    }
    .skill_container .skill:hover .iconfont {
        display: none;
    }
    .skill_container .skill:hover .name h5 {
        font-size: 12px;
        transition: all 0.6s;
    }

    .skill_container {
        width: 76%;
    }
    .skill_container .skill {
        height: 50px;
    }
    .skill_container .skill:hover {
        height: 70px;
        transition: all 0.3s;
    }
}
